$navHeight: 170px;
$topbarHeight: 80px;
$bottombarHeight: 60px;
// $navbarHeight-tablet: 100px;
$navbarHeight-desktop: 130px;
$contentFont: "Inter, system-ui, Avenir, Helvetica, Arial, sans-serif";
$headerFont: "Roboto Slab", serif;
