{
  "extends": "@antfu",
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "@typescript-eslint/quotes": [
      "error",
      "double"
    ],
    "@typescript-eslint/semi": ["error", "always"],
    "curly": ["error", "all"],
    "no-console": "off",
    "@typescript-eslint/brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "vue/html-self-closing": "off",
    "max-len": ["error", { "code": 120 }],
  }
}
